<html>
    <head>
        <link rel="stylesheet" href="./src/main.scss">
    </head>
    <body>
        <a href="src/pages/sign-in/sign-in.hbs">sign in</a>
        <a href="src/pages/sign-up/sign-up.hbs">sign up</a>
        <a href="src/pages/profile/profile.hbs">profile</a>
        <a href="src/pages/error/error404.hbs">404</a>
        <a href="src/pages/error/error500.hbs">500</a>
        <a href="src/pages/chat/chat.hbs">chat</a>
    </body>
</html>
