<div class="form-container">
    <form class="form" onsubmit="">
        <div class="form__header">sign in</div>
        <div class="form__controls">
            {{{login}}}
            {{{password}}}
        </div>
        <div class="form__footer">
            {{{proceedButton}}}
            <div class="form__footer__back-btn">sign up</div>
        </div>
    </form>
</div>
