<html>
    <head>
        <link rel="stylesheet" href="./profile.scss">
    </head>
<body>
<div class="form-container">
    <form class="form">
        <div class="form__header">edit profile</div>
        <div class="form__controls">
            <div class="form__controls__labeled-input form__controls__labeled-input_avatar">
                <div class="form__controls__labeled-input__label">change</br>picture</div>
                <input
                    name="avatar"
                    type="image"
                    alt=""
                    class="form__controls__labeled-input__input form__controls__labeled-input__input_avatar"
                >
            </div>
            <div class="form__controls__labeled-input">
                <div class="form__controls__labeled-input__label">display name</div>
                <input name="display_name" class="form__controls__labeled-input__input">
            </div>
            <div class="form__controls__labeled-input">
                <div class="form__controls__labeled-input__label">first name</div>
                <input name="first_name" class="form__controls__labeled-input__input">
            </div>
            <div class="form__controls__labeled-input">
                <div class="form__controls__labeled-input__label">second name</div>
                <input name="second_name" class="form__controls__labeled-input__input">
            </div>
            <div class="form__controls__labeled-input">
                <div class="form__controls__labeled-input__label">login</div>
                <input name="login" class="form__controls__labeled-input__input">
            </div>
            <div class="form__controls__labeled-input">
                <div class="form__controls__labeled-input__label">email</div>
                <input name="email" class="form__controls__labeled-input__input">
            </div>
            <div class="form__controls__labeled-input">
                <div class="form__controls__labeled-input__label">phone</div>
                <input name="phone" class="form__controls__labeled-input__input">
            </div>
            <div class="form__controls__labeled-input">
                <div class="form__controls__labeled-input__label">old password</div>
                <input name="oldPassword" class="form__controls__labeled-input__input">
            </div>
            <div class="form__controls__labeled-input">
                <div class="form__controls__labeled-input__label">new password</div>
                <input name="newPassword" class="form__controls__labeled-input__input">
            </div>
        </div>
        <div class="form__footer">
            <button class="form__footer__submit-btn">save</button>
            <div class="form__footer__back-btn">back</div>
        </div>
    </form>
</div>
</body>
</html>
