<html>
    <head>
        <link rel="stylesheet" href="./sign-up.scss">
    </head>
    <body>
        <div class="form-container">
            <form class="form">
                <div class="form__header">sign up</div>
                <div class="form__controls">
                    <div class="form__controls__labeled-input">
                        <div class="form__controls__labeled-input__label">first name</div>
                        <input name="first_name" class="form__controls__labeled-input__input">
                    </div>
                    <div class="form__controls__labeled-input">
                        <div class="form__controls__labeled-input__label">second name</div>
                        <input name="second_name" class="form__controls__labeled-input__input">
                    </div>
                    <div class="form__controls__labeled-input">
                        <div class="form__controls__labeled-input__label">login</div>
                        <input name="login" class="form__controls__labeled-input__input">
                    </div>
                    <div class="form__controls__labeled-input">
                        <div class="form__controls__labeled-input__label">password</div>
                        <input name="password" class="form__controls__labeled-input__input">
                    </div>
                    <div class="form__controls__labeled-input">
                        <div class="form__controls__labeled-input__label">email</div>
                        <input name="email" class="form__controls__labeled-input__input">
                    </div>
                    <div class="form__controls__labeled-input">
                        <div class="form__controls__labeled-input__label">phone</div>
                        <input name="phone" class="form__controls__labeled-input__input">
                    </div>
                </div>
                <div class="form__footer">
                    <button class="form__footer__submit-btn">sign up</button>
                    <div class="form__footer__back-btn">sign in</div>
                </div>
            </form>
        </div>
    </body>
</html>
