{{#each previewsData}}
<div class="preview">
    <div class="preview__image">
        <image></image>
    </div>
    <div class="preview__data">
        <span class="preview__data__contact">{{contactName}}</span>
        <span class="preview__data__message">{{messagePreview}}</span>
    </div>
</div>
{{/each}}
