@import "variables.scss";

.form-container {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.form {
  display: flex;
  flex-direction: column;
  max-width: 220px;
  height: fit-content;
  align-self: center;
  border: 1px solid $color-black;
  background-color: $color-background-form;
  padding: 34px 14px;
  font-size: 13px;
  font-family: Inter, sans-serif;
  font-weight: 500;
  gap: 20px;

  &__header {
    align-self: center;
  }

  &__controls {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 6px;

    &__labeled-input {
      display: flex;
      flex-direction: column;
      width: 100%;
      gap: 6px;

      &__label {
        height: 13px;
        margin-left: 2px;
      }

      &__input {
        width: 100%;
        height: 19px;
        border: 1px $color-black solid;

        &_avatar {
          background-color: $color-white;
          width: 72px;
          height: 72px;
        }
      }

      &_avatar {
        flex-direction: row;
        justify-content: space-between;
      }
    }
  }

  &__footer {
    display: flex;
    justify-content: space-between;

    &__submit-btn {
      cursor: pointer;
      background-color: $color-submit-button;
      border: 0;
      border-radius: 0;
    }
  }
}
