$color-black: #000;
$color-white: #fff;
$color-background-form: #d9d9d9;
$color-submit-button: #cea4a4;
$color-link: #3369f3;
$color-font-dark: #1e1e1e;
$color-message-background-grey: #999;
$color-background-message-white: #f8f8f8;
$color-background-message-sent-white: #e4edfd;
