<html>
    <head>
        <link rel="stylesheet" href="./error.scss">
    </head>
    <body>
        <div class="error-container">
            <div class="error">
                <div class="error__code-text">404</div>
                <div class="error__label">error</div>
                <div class="error__leave-link">back</div>
            </div>
        </div>
    </body>
</html>
