<div class="error-container">
    <div class="error">
        <div class="error__code-text">{{ code }}</div>
        <div class="error__label">error</div>
        <div class="error__leave-link">back</div>
    </div>
</div>
